In [4]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [12]:
import pandas as pd

# load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")


df["order_date"] = pd.to_datetime(df["order_date"])


gold_city = (
    df[df["membership"]=="Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)
print("1Ô∏è‚É£ Highest Gold revenue city:", gold_city)


cuisine_avg = df.groupby("cuisine")["total_amount"].mean().idxmax()
print("2Ô∏è‚É£ Highest avg order value cuisine:", cuisine_avg)



user_totals = df.groupby("user_id")["total_amount"].sum()
count_users = (user_totals > 1000).sum()
print("3Ô∏è‚É£ Users spending > ‚Çπ1000:", count_users)


bins = [3.0,3.5,4.0,4.5,5.0]
labels = ["3.0‚Äì3.5","3.6‚Äì4.0","4.1‚Äì4.5","4.6‚Äì5.0"]

df["rating_range"] = pd.cut(df["rating"], bins=bins, labels=labels)

best_rating = df.groupby("rating_range")["total_amount"].sum().idxmax()
print("4Ô∏è‚É£ Highest revenue rating range:", best_rating)


gold_city_avg = (
    df[df["membership"]=="Gold"]
    .groupby("city")["total_amount"]
    .mean()
    .idxmax()
)
print("5Ô∏è‚É£ Gold highest avg order value city:", gold_city_avg)


rest_count = df.groupby("cuisine")["restaurant_id"].nunique()
revenue = df.groupby("cuisine")["total_amount"].sum()

combo = pd.DataFrame({"restaurants":rest_count, "revenue":revenue})
fewest = combo.sort_values(["restaurants","revenue"], ascending=[True,False]).index[0]
print("6Ô∏è‚É£ Fewest restaurants but good revenue cuisine:", fewest)


pct = (len(df[df["membership"]=="Gold"]) / len(df)) * 100
print("7Ô∏è‚É£ % orders by Gold members:", round(pct), "%")


name_col = [c for c in df.columns if "restaurant_name" in c][0]

rest_stats = df.groupby(name_col).agg(
    avg=("total_amount","mean"),
    count=("order_id","count")
)

answer8 = rest_stats[rest_stats["count"] < 20]["avg"].idxmax()

print("8Ô∏è‚É£ Restaurant:", answer8)

combo_rev = (
    df.groupby(["membership","cuisine"])["total_amount"]
    .sum()
    .idxmax()
)
print("9Ô∏è‚É£ Highest revenue combination:", combo_rev)



df["quarter"] = df["order_date"].dt.quarter
best_q = df.groupby("quarter")["total_amount"].sum().idxmax()
print("üîü Highest revenue quarter: Q", best_q)

1Ô∏è‚É£ Highest Gold revenue city: Chennai
2Ô∏è‚É£ Highest avg order value cuisine: Mexican
3Ô∏è‚É£ Users spending > ‚Çπ1000: 2544
4Ô∏è‚É£ Highest revenue rating range: 4.6‚Äì5.0
5Ô∏è‚É£ Gold highest avg order value city: Chennai
6Ô∏è‚É£ Fewest restaurants but good revenue cuisine: Chinese
7Ô∏è‚É£ % orders by Gold members: 50 %
8Ô∏è‚É£ Restaurant: Hotel Dhaba Multicuisine
9Ô∏è‚É£ Highest revenue combination: ('Regular', 'Mexican')
üîü Highest revenue quarter: Q 3

========== DONE ==========

/tmp/ipython-input-917005315.py:7: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["order_date"] = pd.to_datetime(df["order_date"])
/tmp/ipython-input-917005315.py:34: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  best_rating = df.groupby("rating_range")["total_amount"].sum().idxmax()

In [7]:
options = [
    "Grand Cafe Punjabi",
    "Grand Restaurant South Indian",
    "Ruchi Mess Multicuisine",
    "Ruchi Foods Chinese"
]

name_col = [c for c in df.columns if "restaurant_name" in c][0]

rest_stats = df[df[name_col].isin(options)].groupby(name_col).agg(
    avg=("total_amount","mean"),
    count=("order_id","count")
)

rest_stats

                                      avg  count
restaurant_name_x
Grand Cafe Punjabi             765.409063     32
Grand Restaurant South Indian  842.567586     29
Ruchi Foods Chinese            686.603158     19
Ruchi Mess Multicuisine        851.226250     40

In [8]:
rest_stats[rest_stats["count"]<20]["avg"].idxmax()

'Ruchi Foods Chinese'

In [9]:
pairs = [
    ("Gold","Indian"),
    ("Gold","Italian"),
    ("Regular","Indian"),
    ("Regular","Chinese")
]

combo_rev = (
    df.groupby(["membership","cuisine"])["total_amount"].sum()
)

best = max(pairs, key=lambda x: combo_rev.get(x,0))
best

('Gold', 'Italian')

In [13]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")


df["order_date"] = pd.to_datetime(df["order_date"], dayfirst=True)


gold_orders = len(df[df["membership"]=="Gold"])
print("1Ô∏è‚É£ Gold total orders:", gold_orders)


hyd_revenue = round(
    df[df["city"]=="Hyderabad"]["total_amount"].sum()
)
print("2Ô∏è‚É£ Hyderabad total revenue:", hyd_revenue)


distinct_users = df["user_id"].nunique()
print("3Ô∏è‚É£ Distinct users:", distinct_users)

gold_avg = round(
    df[df["membership"]=="Gold"]["total_amount"].mean(), 2
)
print("4Ô∏è‚É£ Gold average order value:", gold_avg)


rating_orders = len(df[df["rating"] >= 4.5])
print("5Ô∏è‚É£ Orders with rating ‚â• 4.5:", rating_orders)


top_city = (
    df[df["membership"]=="Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

orders_top_city = len(
    df[(df["membership"]=="Gold") & (df["city"]==top_city)]
)

print("6Ô∏è‚É£ Orders in top Gold revenue city:", orders_top_city)
print("   (City:", top_city, ")")

1Ô∏è‚É£ Gold total orders: 4987
2Ô∏è‚É£ Hyderabad total revenue: 1889367
3Ô∏è‚É£ Distinct users: 2883
4Ô∏è‚É£ Gold average order value: 797.15
5Ô∏è‚É£ Orders with rating ‚â• 4.5: 3374
6Ô∏è‚É£ Orders in top Gold revenue city: 1337
   (City: Chennai )